<h1 class="mx-8 my-8"> My Blog </h1>
<% @blog_posts.each do |blog_post| %>
     <div class="mx-8"> 
   <%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>

        <h2> <%= link_to blog_post.title, blog_post_path(blog_post.id )%> </h2> 
        <%= blog_post.content %>
     </div>
       <% if blog_post.draft? %>
       <div class="p-2 rounded bg-gray-100 text-gray-900"> Draft </div>
     <% elsif blog_post.scheduled? %>
       <div class="p-2 rounded bg-blue-200  text-blue-900"> Scheduled </div>
     <%end %>
     </div> 

<% end %>
<%if @pagy.count >  @pagy.items %>
<div class="my-16 mx-4 flex justify-center" >
<%==  pagy_nav(@pagy)%>
</div>
<% end %>

<%# blog_post_path(blog_post.id ) or  blog_post %>
